@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1" style="color:forestgreen">JaGo</h1>
    <h3 style="color:steelblue">Soluções em sistemas para empresas de turismo.</h3> 
</div>
